@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background: #121212;
}

.btn {
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 25px;
	padding: 12px;

	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;

	background: #db51c4;
	color: white;

	transition: background 0.3s, color 0.3s, border 0.3s;
}

.btn:hover {
	background: #f277cb;
	cursor: pointer;
	border-color: white;
}

.btn:active {
	background: white;
	color: #f277cb;
}

#container {
	position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%);

	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#content {
	display: flex;
	flex-direction: column;
	position: relative;

	background: #212121;
	color: white;

	padding: 20px;
	padding-top: 0px;
	border-radius: 15px;

	z-index: 1001;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#content h2 {
	font-size: 30px;
	font-family: "Roboto";

	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top: 30px;

	text-align: center;
	color: #db51c4;

	cursor: default;
}

.input-field {
	background: #2e2e2e;
	color: white;

	font-size: 16px;

	padding: 8px;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 100%;

	border-radius: 5px;
	border: 2px solid #4a4a4a;
}

.input-field:focus {
	outline: none;
	border-color: #db51c4;
}

.form-group {
	margin-bottom: 10px;
}

.form-group label {
	font-family: "Roboto";
	font-size: 20px;

    display: block;
    margin-bottom: 5px;
}

.form-group textarea {
	resize: none;
	height: 100px;
}

#form-container:invalid input[type="submit"] {
	background: #2e2e2e;
	border: 2px solid #4a4a4a;
	color: white;

	cursor: default;
}

#sign-up {
	box-sizing: border-box;
	width: 100%;
}

#close {
	display: flex;
    justify-content: center;
    align-items: center;

	position: absolute;
	right: -60px;
	top: 0px;

	background: #212121;

	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0);

	width: 50px;
	height: 50px;

	transition: background 0.3s, border 0.3s;

	z-index: 1001;
}

#close:hover {
	background: #2e2e2e;
	cursor: pointer;

	border-color: #db51c4;
}

.close-img {
	width: 30px;
	transition: opacity 0.3s ease;
}