body {
	margin: 0px;
	background: #121212;
	overflow-x: hidden;
}

.slider {
	width: 100%;
	height: 600px;

	display: flex;
	align-items: center;
	gap: 10px;

	position: relative;
}

.image {
	position: relative;
	z-index: 1;
}

.image img {
	height: 600px;
}

.slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 70px;
	height: 70px;

	border-radius: 50%;

	position: absolute;

	cursor: pointer;

	z-index: 2;
}

.slider-btn:hover {
	background-color: white;
	opacity: 0.5;

	transition: opacity 0.4s, background 0.4s;
}

.right-slider-btn {
	right: 10px;
}

.left-slider-btn {
	left: 10px;
}